<!-- <link rel="stylesheet" href="/css/user_profile.css">

        <h1>User's name is <%=title%></h1>
 
         -->

         <html>

         <head>

         </head>

         <body>

                <H1>this is the profile page</H1>

                <p> <%= user.name %></p>
                <p> <%= user.email %></p>
         </body>
         </html>